[Desktop Entry]
Name=Flumi
Comment=The official wayfinder for Gurted
Exec=flumi
Icon=flumi
Terminal=false
Type=Application
Categories=Network;WebBrowser;
